*{
  padding: 0;
  margin: 0;
}
.App {
  
}
.whole{
  position: absolute;
  height: 1000vh;
  width: 100%;
  z-index: 1;
}
/*------------------ HERO SECTION-----------------*/
.hero{
  position: fixed;
  height: 100vh;
  padding-top: 200px;
  left: 44%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}
#herovid{
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
}
.headshot{
  border-radius: 50%;
  border: 2px white solid;
  margin: 40px 0;
  width: 200px;
  height: 200px;
}
.hero h1{

}
.hero h2{

}
.network-icons{
  margin: 20px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}
.change-color{
  color: #3284ff;
  transition: 0.4s ease-in-out;
}
/*------------------PROJECT SECTION-----------------*/
.projects{
  position: absolute;
  display: flex;
  color: #ffa97e;
  height: 100vh;
}
#projects-text{
  bottom: 0;
  left: 40%;
  position: fixed;
  font-size: 60px;
  margin: 0 auto;
}
#projects-text::after{
  position: fixed;
  content: "********";
  
}
.animate-text::after{
  animation: animate-text ease-in-out 2s;
  animation-fill-mode: forwards;
}
.coral{
  background: #ffa97e !important;
  transition: 1s ease-in;
}
.coral-text{
  color: #ffa97e !important;
  transition: 1s ease-in;
}
.project{
  display: none;
  position: fixed;
  color: black;
  top: 50%;
  left: 45%;
  /*animation: from-left 2s;*/
}
.project::after{
  font-sizE: 26px;
  position: fixed;
  content: 'SIKE!';
  transform: translateY(-29px);
  animation: from-right 2s;
  animation-fill-mode: forwards;
}
.show{
  display: block !important;
  transition: 1s ease-in-out;
}
/*------------------SCROLL DIRECTIONS-----------------*/
.scroll{
  color: rgb(143, 143, 143);
  position: fixed;
  bottom: 0;
  left: 48%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 5;
}
.scroll h1{
  font-size: 22px;
}
.carrot{
  width: 40px;
  height: 40px;
  animation: bounce infinite ease-in-out 1s;
}

@keyframes bounce {
  0%{
    transform: translateY(-8px);
  }
  50%{
    transform: translateY(6px);
  }
  100%{
    transform: translateY(-8px);
  }
}

@keyframes from-left {
  0%{
    transform: translateX(-1200px);
  }
  100%{
    transform: translateX(0);
  }
}

@keyframes from-right {
  0%{
    transform: translateX(200px), translateY(-29px);
  }
  100%{
    transform: translateX(0), translateY(-29px);
  }
}

@keyframes animate-text {
  0%{
    content: "********";
  }
  10%{
    content: "U*******";
  }
  20%{
    content: "PT******";
  }
  30%{
    content: "PRF*****";
  }
  40%{
    content: "PROW****";
  }
  50%{
    content: "PROJA***";
  }
  60%{
    content: "PROJEB**";
  }
  70%{
    content: "PROJECU*";
  }
  80%{
    content: "PROJECTL";
  }
  90%{
    content: "PROJECTS";
  }
  100%{
    content: "PROJECTS";
  }
}
